.weather {
  overflow: hidden;
  place-self: center;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(
    305deg,
    hsl(272deg 100% 36%) 0%,
    hsl(276deg 100% 35%) 14%,
    hsl(279deg 98% 34%) 29%,
    hsl(282deg 95% 33%) 43%,
    hsl(285deg 89% 33%) 57%,
    hsl(288deg 82% 33%) 71%,
    hsl(290deg 76% 33%) 86%,
    hsl(293deg 70% 33%) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  box-shadow: 6px 6px 6px #333;
}

.background-container {
  background: url("../assets/bg_image.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather::before {
  content: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background: url("/assets/bg_image.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 10px;
  border-radius: 25px;
}

.weather-message {
  background-color: #ffff33;
  color: #1b1212;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  max-width: 90%;
  margin: 10px auto;
  word-break: break-word;
  box-sizing: border-box;
  box-shadow: 6px 6px 6px #333;
}

.weather-message-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar input {
  flex-grow: 1;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 15px;
  color: #626262;
  background-color: #ffffff;
  font-size: 16px;
  box-shadow: 2px 4px 2px #333;
}

.search-bar img {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 2px 4px 2px #333;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon-container {
  height: 150px;
  width: 150px;
  background-color: #cc00ff;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px #333;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  max-width: 300px;
  max-height: 300px;
  transform: scale(1.4);
  transform-origin: center;
  object-fit: contain;
}

.weather-condition {
  margin-bottom: 5px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.temp {
  color: #fff;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  margin: 10px auto 5px auto;
}

.location {
  color: #fff;
  font-size: 30px;
  font-weight: 400px;
  text-align: center;
  margin: 5px auto;
}

.weather-data {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
}

.weather-data .col {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  margin-left: 20px;
  justify-content: flex-start;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}

body {
  background-color: #000;
}

@media only screen and (max-width: 760px) {
  .weather-info {
    padding: 5px;
  }

  .weather-icon-container {
    margin-top: 10px;
  }

  .weather-icon {
    width: 100px;
    height: 100px;
  }

  .temp {
    font-size: 50px;
  }

  .location {
    font-size: 20px;
  }

  .weather-data .col {
    font-size: 14px;
  }

  .weather-data .col img {
    width: 20px;
  }

  .weather-message {
    font-size: 14px;
    padding: 5px;
  }
}

.welcome-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcome-message {
  color: white;
  font-weight: 800;
  font-size: 22px;
  text-align: left;
  padding: 8px;
  border-radius: 10px;
  max-width: 90%;
  margin: 20px auto;
  margin-top: 35px;
  word-break: break-word;
  box-sizing: border-box;
}

.welcome-messages {
  color: black;
  font-weight: 600;
  background-color: #ffff80;
  font-size: 16px;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  max-width: 90%;
  margin: 20px auto;
  margin-top: 15px;
  word-break: break-word;
  box-sizing: border-box;

}

.error-message {
  color: white;
  background-color: red; 
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 2px;
  border-radius: 8px;
  margin-top: 10px;
}
