*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
    background-color: #f3e5f5;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

body {
  overflow: hidden;
}
